.recipe{
    border-radius:10px;
    box-shadow: 5px gray;
    margin: 20px;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    background: white;
    align-items: center;

}

.image{
    border-radius: 50%;
    width: 60%;
    height: 60%;
}